<a href="https://colab.research.google.com/github/Mohammed-Selmy/thesoc.club/blob/master/StatisticsPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
def function1(a,b):
  #calculating the area of a triangle by ab/2
  return (a*b)/2

#taking the first argument height and second as radius
def function2(h,r):
  #calculating area of a cone by (pi*r**2*h)/3
  return (np.pi*(r**2)*h)/3

print("Triangle area a=5, b=3, AREA:",function1(5,3))
print("Cone Volume h=5, r=15, AREA:",function2(5,15))
print("Cone Volume h=10, r=10, AREA:",function2(10,10))

Triangle area a=5, b=3, AREA: 7.5
Cone Volume h=5, r=15, AREA: 1178.0972450961724
Cone Volume h=10, r=10, AREA: 1047.1975511965977

In [ ]:
#prompt the user for input
unit = int(input("Usage units: "))
if(unit <= 100):
  price = unit * 0.5
#Anything above 100 will be multiplied by a factor of 0.75 in addition to the price of the first 100 units
elif(unit > 100 and unit < 200):
  price = (unit - 100)*0.75 + 50
#Same thing for the price of anything above 200, we add the price of the first 100 and the second 100 then multiply anything
#more with a factor of 1.25
elif(unit > 200):
  price = (unit-200)*1.25+125
#outputting the price
print("Price: $", price)

Usage units: 120
Price: $ 65.0

In [ ]:
#start by the number 100 since it is the lowest bound
i = 100

#make a while loop that will start looping until it reaches 400
while i <= 400:

  #if the remainder of the number when dicided by 11 = 0 then it means that it is
  #divisible, if not then it is not and we made "and" comparison operator such that
  #we ensure that both conditions are true, the second condition being that it shouldnt
  #be divisible by 2 and then we print i. The i keeps incrementing nevertheless
  if i % 11 == 0 and i % 2 != 0:
    print(i)
  i +=1

121
143
165
187
209
231
253
275
297
319
341
363
385

In [ ]:
#Creating the class
class Course:
  #default constructor for the course
  def __init__(self, name, instructor, students, code):
    self.name = name
    self.instructor = instructor
    self.students = students
    self.code = code
    #printing the info of the course using the self
  def printINFO(self):
    print('course name:', self.name)
    print('course instructor:', self.instructor)
    print("students enrolled:", self.students)
    print('course code:', self.code)

#creating an object
course = Course("Intro to AI and Data Science", "Rami Haweelih", 40, "NGN112")
course.printINFO()

course name: Intro to AI and Data Science
course instructor: Rami Haweelih
students enrolled: 40
course code: NGN112

In [ ]:
import numpy as np

# Given student grades
grades = np.array([100, 95, 80, 97, 56, 75, 77, 98, 87, 90, 65, 59, 65, 67, 87, 55, 69, 89, 78, 78, 80, 89, 57, 87, 68, 77])

# Number of grades
num_grades = grades.size

# Sum of the grades
total_sum = grades.sum()

# Minimum grade
min_grade = grades.min()

# Maximum grade
max_grade = grades.max()

# Average grade
average_grade = grades.mean()

# Standard deviation of the grades
std_dev = grades.std()

# Variance of the grades
variance = grades.var()

# Print the summary statistics
print(f"Number of grades: {num_grades}")
print(f"Sum of the grades: {total_sum}")
print(f"Minimum grade: {min_grade}")
print(f"Maximum grade: {max_grade}")
print(f"Average grade: {average_grade}")
print(f"Standard deviation of the grades: {std_dev}")
print(f"Variance of the grades: {variance}")

Number of grades: 26
Sum of the grades: 2025
Minimum grade: 55
Maximum grade: 100
Average grade: 77.88461538461539
Standard deviation of the grades: 13.354131953694571
Variance of the grades: 178.33284023668637

In [ ]:
import pandas as pd

# Create a dictionary with course information
data = [
    {"Course": "NGN112", "Students": 41, "Instructor": "D. Haweeleh", "Section": 1},
    {"Course": "NGN112", "Students": 40, "Instructor": "D. Hammi", "Section": 2},
    {"Course": "NGN112", "Students": 39, "Instructor": "D. Zakaria", "Section": 3},
    {"Course": "NGN112", "Students": 41, "Instructor": "D. Ali", "Section": 4},
    {"Course": "NGN112", "Students": 42, "Instructor": "D. Hassan", "Section": 5},
    {"Course": "NGN112", "Students": 40, "Instructor": "D. Hammi", "Section": 6},
    {"Course": "NGN112", "Students": 41, "Instructor": "D. Alshraideh", "Section": 7},
    {"Course": "NGN112", "Students": 42, "Instructor": "D. Alshraideh", "Section": 8},
    {"Course": "NGN112", "Students": 39, "Instructor": "D. Hammi", "Section": 9},
    {"Course": "NGN112", "Students": 40, "Instructor": "D. Hasan", "Section": 10},
    {"Course": "NGN112", "Students": 39, "Instructor": "D. Teng", "Section": 11},
    {"Course": "NGN112", "Students": 40, "Instructor": "D. Teng", "Section": 12},
    {"Course": "NGN112", "Students": 40, "Instructor": "D. Hasan", "Section": 13}
]

# Create a DataFrame from the dictionary
df = pd.DataFrame(course_data)

# Display the content of the DataFrame
print("DataFrame Content:")
print(df)

# Print a summary of all attributes using the describe method
print("\nSummary Statistics:")
print(df.describe())

DataFrame Content:
    Course  Students     Instructor  Section
0   NGN112        41    D. Haweeleh        1
1   NGN112        40       D. Hammi        2
2   NGN112        39     D. Zakaria        3
3   NGN112        41         D. Ali        4
4   NGN112        42      D. Hassan        5
5   NGN112        40       D. Hammi        6
6   NGN112        41  D. Alshraideh        7
7   NGN112        42  D. Alshraideh        8
8   NGN112        39       D. Hammi        9
9   NGN112        40       D. Hasan       10
10  NGN112        39        D. Teng       11
11  NGN112        40        D. Teng       12
12  NGN112        40       D. Hasan       13

Summary Statistics:
        Students   Section
count  13.000000  13.00000
mean   40.307692   7.00000
std     1.031553   3.89444
min    39.000000   1.00000
25%    40.000000   4.00000
50%    40.000000   7.00000
75%    41.000000  10.00000
max    42.000000  13.00000